.wrapper {
    display: block;
    margin-bottom: 12px
}

.label {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
    margin-bottom: 6px
}

.input {
    width: 100%;
    padding: 12px 14px;
    border-radius: 4px;
    border: 0;
    background: rgba(255, 255, 255, 0.12);
    color: white;
    font-size: 15px
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.6)
}