:root {
  --bg: #000;
  --accent: #e50914
}

* {
  box-sizing: border-box
}

html,
body,
#root {
  height: 100%
}

body {
  margin: 0;
  font-family: Inter, system-ui, Arial, Helvetica, sans-serif;
  background: var(--bg);
  color: #fff
}

a {
  color: inherit
}